<header>
    <div class="menu" id="openBtnB">
        <i class="fa-solid fa-bars"></i>
        <p>Menu</p>
    </div>
    <div class="allBurgerNav">
        <div class="burgerNav">
            <div class="styleBurger openNAvB">
                <ul>
                    <li class="closeBtn">x</li>
                    <li><a href="{{path('app_home')}}">Accueil</a></li>
                    <li><a href="{{path('app_produit')}}">Shop</a></li>
                    <li><a href="{{path('app_prestation')}}">Tarifs & RDV</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('app_logout')}}">Se déconnecter</a></li>
                    <li><a href="{{ path('app_profil')}}">Mon profil</a></li>
                    <li><a href="{{ path('app_historique_commandes')}}">Historique des commandes</a></li>
                    <li><a class="panier" href="{{path('app_panier')}}">Panier </a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="admin">
                        <a href="{{path('admin')}}">Panneau d'administration</a>
                    </div>
                    {% endif %}
                    {% else %}

                    <div id="myLogB" class="logB">
                        
                        <ul>
                            <li><a href="{{ path('app_login')}}">Se connecter</a></li>
                            <li><a href="{{ path('app_register')}}">S'inscrire</a></li>
                           
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>


        <div class="allNavBar">
            <div class="navbar">
                <img src="/assets/img/logo.webp" alt="logo">
                <a href="{{path('app_home')}}">Accueil</a>
                <a href="{{path('app_produit')}}">Shop</a>
                <a href="{{path('app_prestation')}}">Tarifs & Prise de RDV</a>

                {% if app.user %}

                <div id="myLog" class="log">
                    <a id="closeBtn" href="#" class="close">&times;</a>
                    <ul>
                        <li><a href="{{ path('app_logout')}}">Se déconnecter</a></li>
                        <li><a href="{{ path('app_profil')}}">Mon profil</a></li>
                        <li><a href="{{ path('app_historique_commandes')}}">Historique des commandes</a></li>
                        <li><a class="panier" href="{{path('app_panier')}}">Panier </a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="admin">
                            <a href="{{path('admin')}}">Panneau d'administration</a>
                        </div>
                        {% endif %}
                    </ul>
                    </ul>
                </div>
                <a href="#" id="openBtn">
                    <i class="fa-solid fa-user"></i>
                    <p>{{app.user.pseudo}}</p>
                </a>
                {% else %}

                <div id="myLog" class="log">
                    <a id="closeBtn" href="#" class="close">&times;</a>
                    <ul>
                        <li><a href="{{ path('app_login')}}">Se connecter</a></li>
                        <li><a href="{{ path('app_register')}}">S'inscrire</a></li>
                </div>
                <a href="#" id="openBtn">
                    <i class="fa-solid fa-user-plus"></i>

                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<script>
    var log = document.getElementById("myLog");
    var openBtn = document.getElementById("openBtn");
    var closeBtn = document.getElementById("closeBtn");

    openBtn.onclick = openNav;
    closeBtn.onclick = closeNav;

    /* Set the width of the side navigation to 250px */
    function openNav() {
        log.classList.add("active");
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        log.classList.remove("active");
    }



    document.addEventListener('DOMContentLoaded', function () {
        var openBtn = document.getElementById('openBtnB');
        var closeBtn = document.querySelector('.closeBtn');
        var navBurger = document.querySelector('.burgerNav');

        openBtn.addEventListener('click', function () {
            navBurger.classList.toggle('active');
        });
        closeBtn.addEventListener('click', function () {
            navBurger.classList.remove('active');
        });
    });



</script>