
    <div class="navbar">
        <ul>
            <li><a href="{{path('app_home')}}">Acceuil</a></li>
            <li><a href="{{path('app_produit')}}">Shop</a></li>
            <li><a href="{{path('app_reservation')}}">Prise de RDV</a></li>
            <li><a href="{{path('app_prestation')}}">Tarif</a></li>
        </ul>
    </div>
    {% if app.user %}
    <a href="{{ path('app_logout')}}">Se déconnecter</a>
    <a href="{{ path('app_profil')}}">Mon profil</a>
{% else %}
    <a href="{{ path('app_login')}}">Se connecter</a>
    <a href="{{ path('app_register')}}">S'enrengistrer</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('admin')}}">Panneau d'administration</a>
{% endif %}
            