{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{% if articles | length > 0 %}
    <table class="panier">
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Image</th>
            <th>Quantité</th>
            <th>Sous-total</th>
            <th>Supp</th>
        </tr>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.produit.nom}}</td>
                <td>{{article.produit.prix /100}}€</td>
                <td>{{article.produit.description}}</td>
                <td><img class="imgPanier" src="/assets/img/{{article.produit.image}}"></td>
                <td>
                    <a href="{{path ('app_panier_upQtt',{'id' : article.produit.id }) }}"><i class="fas fa-plus"></i></a>
                        {{article.quantite}}
                    <a href="{{path ('app_panier_downQtt',{'id': article.produit.id}) }}"><i class="fas fa-minus"></i></a>
                </td>
                <td>{{article.produit.prix * article.quantite /100}}€</td>
                <td><a href="{{path ('app_panier_remove', {'id': article.produit.id }) }}" class="btn"><i class="fas fa-trash"></i></a></td>
            </tr>
               {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td class="total" colspan="4"></td>
            <td class="total" colspan="1">Total : </td>
            <td colspan="1">{{ total /100}}€</td>
            <td></td>
        </tfoot>
    </table>
    <a href="#">Valider le panier</a>
{% else %}
    <p>Le pannier est vide</p>
{% endif %}

{% endblock %}
