{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="banniere">
		<img src="/assets/img/panier.png" alt="banniére">
	</div>
	{% if articles | length > 0 %}
		<table class="panier">
			<tr>
				<th class="panier">Produit</th>
				<th class="panier">Prix</th>
				<th class="panier">Description</th>
				<th class="panier">Image</th>
				<th class="panier">Quantité</th>
				<th class="panier">Sous-total</th>
				<th class="panier">Add Qtt</th>
				<th class="panier">Down Qtt</th>
				<th class="panier">Suppr Qtt</th>
			</tr>
			<tbody>
				{% for article in articles %}
					<tr>
						<td class="panier">{{article.produit.nom}}</td>
						<td class="panier">{{article.produit.prix /100}}€</td>
						<td class="panier">{{article.produit.description | raw}}</td>
						<td class="panier"><img class="imgPanier" src="/assets/img/{{article.produit.image}}"></td>
						<td class="panier">{{article.quantite}}</td>
						<td class="panier ssTotal">{{article.produit.prix * article.quantite /100}}€</td>
						<td class="panier action">
							<a class="plus" href="{{path ('app_panier_upQtt',{'id' : article.produit.id }) }}">
								<i class="fas fa-plus"></i>
							</a>
						</td>
						<td class="panier action">
							<a class="moins" href="{{path ('app_panier_downQtt',{'id': article.produit.id}) }}">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td class="panier action">
							<a class="suppr" href="{{path ('app_panier_remove', {'id': article.produit.id }) }}" class="btn">
								<i class="fas fa-trash"></i>
							</a>
						</td>
				    </tr>
					{% endfor %}
			{% else %}
				<tr>
					<td colspan="9">Votre panier est vide</td>
				</tr>
		{% endif %}
	</tbody>
	<tfoot>
		<tr>
			<td class="total" colspan="3"></td>
			<td class="total" colspan="2">Article(s) :
				{{totalArticle}}</td>
			<td class="total" colspan="1"></td>
			<td colspan="2">Total :
				{{ total /100}}€</td>
			<td class="total" colspan="1"><a class="vider" href="{{path('app_panier_removeAll')}}">Vider</a></td>
		</tr>
	</tfoot>
</table>
<button class="panierV">
	<a class="textBtnP" href="{{path('app_commande_add')}}">Valider le panier</a>
</button>{% endblock %}
