{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="loginPage">
    <h1>Connexion</h1>
    {% for message in app.flashes('error')%}
    <div>
        {{ message }}
    {% endfor %}
    </div>
    <div class="imgForm">
        <div class="imgRegister">
            <img src="assets/img/loginBarber.png" alt="barbier a cote de son fauteuil">
        </div>
        <form method="post">
        <div class="registerForm">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}
                <label for="inputEmail">Votre email : </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus><br>

                <label for="inputPassword">Mot de passe : </label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required><br>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary buttonSmall" type="submit">
                    Se connecter
                </button>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}