{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="one">
    <div class="blackfilter"></div>
    <div class="divOne">
        <h1 class="titleHome">The Barber Shop</h1>
        {% if app.user %}
        <h2 class="welcome">Bienvenue {{app.user.pseudo}}</h2>
        {% else %}
        <div>
            <h2 class="welcome">Bienvenue</h2>
            <p class="textHome">Vous n'êtes pas connécté</p>
        </div>
        {% endif %}
        <p class="textHome">Plongez dans l'univers de la <strong>beauté masculine</strong>, où chaque coupe est une
            œuvre d'art. Notre équipe de maîtres <strong>barbiers et coiffeurs</strong> est dédiée à vous offrir un
            style qui parle de vous. Laissez-nous sublimer votre image et révéler la meilleure version de vous-même.</p>
    </div>
</section>

<section class="two">
    <div class="divTwo">
        <h2 class="star">Les prestations star</h2>
        <div class="cardStar">
            {% for prestation in prestations %}
            <div class="cardPresta">
                <a href="#">{{prestation.nom}}</a>
                <p>Prix : {{prestation.prix }}€</p>
                <p>Durée : {{prestation.duree|date('H:i')}}</p>
                <a href="#" class="buttonSmall">Reserver</a>
            </div>
            {% endfor %}
        </div>
        <a href="{{path('app_prestation')}}" class="button">Voir le catalogue</a>
    </div>
</section>

<section class="three">
    <div class="icon-qui">
        <img src="assets/img/blue/bz (8).png" alt="coupe-choux">
        <img src="assets/img/blue/col18.png" alt="lampe barbier">
        <img src="assets/img/blue/col13.png" alt="homme barbu">
    </div>
    <h2 class="star">Qui sommes nous ?</h2>
    <p class="qui">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptatum nesciunt laudantium.
        Fugiat quia magni a omnis odio saepe optio assumenda. Optio incidunt, magnam eius tempora culpa dignissimos
        numquam deleniti accusantium quia facilis et ipsum similique doloremque distinctio nostrum voluptatem non
        debitis unde sit perferendis! Molestias consequuntur veritatis adipis ci quod, nam hic deserunt aliquam quae
        minima voluptatibus mollitia quisquam animi pariatur placeat eligendi perspiciatis optio culpa modi voluptatem.
        Accusamus et iure aspernatur dicta, tempora excepturi illum quis velit itaque aliquam, repellat totam ratione!
        Quae id molestias eligendi consequatur magnam? In molestiae quidem iste laudantium assumenda enim sapiente
        nostrum odit distinctio. Qui voluptas fuga vero ipsam consectetur explicabo, expedita aut optio magnam ducimus
        fugiat perspiciatis.</p>
</section>

<section class="four">
    <div class="divFour">
        <h2 class="star">Les nouveautés</h2>
        <div class="cardStar">
            {% for produit in produits %}
            <div class="prodAll">
                <div class="cardProd">
                    <a href="{{path('app_detail_produit', {'id': produit.id})}}"><img src="assets/img/{{produit.image}}"
                            alt="img du produit"></a>
                    <p>{{produit}} {{produit.prix}}€</p>
                    <a href="{{path('app_panier_add', {'id': produit.id})}}" class="buttonSmall">Ajouter</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{path('app_produit')}}" class="button">Voir le Shop</a>
    </div>
</section>

<section class="five">
    <div class="blackfilter"></div>
    <div class="divFive">
        <h2>Notre <strong>salon de coiffeur barbier</strong></h2>
        <p class="textHome">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptatum nesciunt
            laudantium.Fugiat quia magni a omnis odio saepe optio assumenda. Optio incidunt, magnam eius tempora culpa dignissimos
            numquam deleniti accusantium quia facilis et ipsum similique doloremque distinctio nostrum voluptatem non
            debitis unde sit perferendis!</p>
    </div>
</section>

<section class="six">
    <h2 class="star">Nous trouver</h2>

    <div class="googlemapssearch map" data-search="place_id:ChIJCV_HWCzIlkcRocW--RwRZsk"
        data-api-key="AIzaSyCbjfSlC62hIMv6VluxtSxHsgpOB7_mLPY" width="100%" height="100%"></div>
</section>

<section class="seven">
    <div class="blackfilter"></div>
    <div class="allContact">
        <div class="contact">
            <h3>Contact</h3>
            <ul class="tel">
                <li><i class="fa-solid fa-phone"></i></li>
                <li>0606650392</li>
            </ul>
            <ul class="mail">
                <li><i class="fa-solid fa-at"></i></li>
                <li><a href="mailto:semprini.anthony@gmail.com">semprini.anthony@gmail.com</a></li>
            </ul>
            <ul class="adresse">
                <li><i class="fa-solid fa-location-dot"></i></li>
                <li>53 rue de la charmille</li>
                <li>67200 <strong>Starsbourg</strong></li>
            </ul>
        </div>
        <div class="social">
            <div class="socialMedia">
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-snapchat"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-whatsapp"></i></li>
            </div>
        </div>
    </div>
</section>

{% endblock %}