{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="registerPage">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="registerForm">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}
        <div class="iAgree">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
            <br><a href="{{ path('app_condition_footer') }}">(Lire les conditions générales</a> <i class="fa-regular fa-file-lines"> )</i>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    
        <button type="submit" class="btn buttonSmall" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit'
            data-action='submit'>Valider</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}