{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="registerPage">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'id': 'register-form'}}) }},
    <div class="imgForm">
    <div class="imgRegister">
        <img src="assets/img/registerBarber.png" alt="barbier a cote de son fauteuil">
    </div>
    <div class="registerForm">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}
        <div class="iAgree">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
            <br><a href="{{ path('app_mention_footer') }}">(Lire les mentions légales</a> <i class="fa-regular fa-file-lines"> )</i>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    
        <button type="submit" class=" register-form btn buttonSmall" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback='onSubmit'
            data-action='submit'>Valider</button>
    </div>
</div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}