{# {{ form_start(form) }}
    {{ form_row(form.nom, {
        label: 'Nom : '
    } )}}
    {{ form_row(form.prenom, {
        label: 'Prenom : '
    } )}}
    {{ form_row(form.numTel, {
        label : 'Numéro de telephone : '
    }) }}
   

   <button class="btn">{{ button_label|default('Réserver') }}</button>
{{ form_end(form) }} #}
