{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}

<div class="reservationPage">
    <h1>Créé votre réservation</h1>
    <div class="dateForm">
        <!--! formulaire choix de la date -->
        <form action="{{ path('app_reservation_new', {'id': prestationId}) }}" method="post" class="allDatepicker">
            {# <input type="text" class="form-control datepicker" name="daySelect"> #}
            <input type="date" name="daySelect" id="daySelect">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <button type="submit">Verifiez les disponibilitées</button>
        </form>
    </div>
    <!--! verifie si il y a bien une date sectionner -->
    {% if availableSlots is not empty %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <!--! Boutton pour select le créneau horraire -->
                {% for slot in availableSlots %}
                <button type="button" class="list-group-item list-group-item-action slot-button"
                    data-start="{{ slot.start }}" data-end="{{ slot.end }}">
                    {{ slot.start | date('H:i')}}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <!--! Renvoi un message si aucun créneau est dispo -->
    <div class="alert alert-warning" role="alert">
        Aucun créneau disponible.
    </div>
    {% endif %}
    {{ include('reservation/_form.html.twig') }}
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>

    let selectedDate;
    const selectedSlot = document.querySelector("#selectedSlot");
    const daySelect = document.querySelector("#daySelect");
    

    daySelect.addEventListener("change", (item) => {
        selectedDate = item.target.value
        localStorage.setItem("selectedDate", selectedDate)
    })

    document.querySelectorAll('.slot-button').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault()
            //console.log(item.dataset.start)
            let dateFormatted = moment(localStorage.getItem("selectedDate"), "YYYY-MM-DD").format("YYYY-MM-DD")
            var formattedSlot = moment(item.dataset.start, "HH:mm").format("HH:mm")

            selectedSlot.value = dateFormatted + "T" + formattedSlot;

        });
    });

 </script>

{% endblock %}