{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}

	<div class="reservationPage">
		<h1>Créé votre réservation</h1>
			{{ include('reservation/_form.html.twig') }}
		<div >
			<form action="{{ path('app_reservation_new') }}" method="post" class="allDatepicker">

					<input type="text" class="form-control datepicker" name="daySelect">
				
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>

				<button type="submit">Envoyer</button>
				
			</form>
		</div>
		{% if availableSlots is not empty %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    Sélectionnez un créneau disponible.
                </div>
                <div class="list-group" id="crenauxDispo">
					<div id="selectedSlot" class="selected-slot-display">
						<p>Aucun créneau sélectionné</p>
					</div>
					{% for slot in availableSlots %}
						<button type="button" class="list-group-item list-group-item-action slot-button" data-start="{{ slot.start }}" data-end="{{ slot.end }}">
							{{ slot.start | date('H:i') }} - {{ slot.end | date('H:i') }}
						</button>
					{% endfor %}
					</div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Aucun créneau disponible.
    </div>
{% endif %}

	
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script>

		document.querySelectorAll('.slot-button').forEach(item => {
			item.addEventListener('click', event => {
			
				document.querySelector('input[name="daySelect"]').value = item.dataset.start;
				
			});
		});

		$('.datepicker').datepicker({
format: "dd/mm/yyyy",
language: "fr",
daysOfWeekDisabled: "0,1",
daysOfWeekHighlighted: "0,1",
autoclose: true,
orientation: "top auto",
todayHighlight: true
});
$('.datepicker').change(function () { // Récupérer la date sélectionnée
var selectedDate = $(this).val();



});


//  inclus moment.js pour la manipulation de date
$('.slot-button').on('click', function() {
    var startDate = $(this).data('start'); // récupère la valeur de l'attribut data-start
    var endDate = $(this).data('end'); // récupère la valeur de l'attribut data-end

    //  format attendu par Symfony
    var formattedDate = moment(startDate, "HH:mm").format("YYYY-MM-DD HH:mm:ss");

    // valeur du champ rdv
    $('input[name="reservation[rdv]"]').val(formattedDate);

    
    $('#selectedSlot').text(formattedDate); // Mettez à jour un élément avec l'id `selectedSlot`
});
	
	
	</script>

{% endblock %}
