{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}

<div class="reservationPage">
    <h1>Créer votre réservation</h1>
    <div class="formSlot">
        <div class="dateForm">
            <!--! formulaire choix de la date -->
            <p> 1 Choisir votre date</p>
            <form action="{{ path('app_reservation_new', {'id': prestationId}) }}" method="post" class="allDatepicker">
                {# <input type="text" class="form-control datepicker" name="daySelect"> #}
                <input class="" type="date" name="daySelect" id="daySelect">
                <button class="buttonSmall btnFindSlot" type="submit">Verifiez les disponibilitées</button>
            </form>

        </div>
        <!--! verifie si il y a bien une date sectionner -->
        {% if pagination is not empty %}
        <div class="creneau">
            <p> 2 Choisir votre crénau horaire</p>
            <!--! Boutton pour select le créneau horraire -->
            <div class="slot">
                {% for slot in pagination %}
                <button type="button" class="list-group-item list-group-item-action slot-button buttonSmall"
                    data-start="{{ slot.start }}" data-end="{{ slot.end }}">
                    {{ slot.start | date('H:i')}}
                </button>
                {% endfor %}
                {{ knp_pagination_render(pagination)}}
            </div>
        </div>
        {% else %}
        <!--! Renvoi un message si aucun créneau est dispo -->
        <div class="alert alert-warning" role="alert">
            Aucun créneau disponible.
        </div>
        {% endif %}
    </div>
    <div class="formInfo">
        <p>3 Compléter vos informations</p>
        {{ include('reservation/_form.html.twig') }}
    </div>
</div>










<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>

    let selectedDate;
    const selectedSlot = document.querySelector("#selectedSlot");
    const daySelect = document.querySelector("#daySelect");


    daySelect.addEventListener("change", (item) => {
        selectedDate = item.target.value
        localStorage.setItem("selectedDate", selectedDate)
    })

    document.querySelectorAll('.slot-button').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault()
            //console.log(item.dataset.start)
            let dateFormatted = moment(localStorage.getItem("selectedDate"), "YYYY-MM-DD").format("YYYY-MM-DD")
            var formattedSlot = moment(item.dataset.start, "HH:mm").format("HH:mm")

            selectedSlot.value = dateFormatted + "T" + formattedSlot;

        });
    });
    
    //empeche la selection du dimanche et lundi
    document.getElementById('daySelect').addEventListener('input', function (e) {
        var day = new Date(this.value).getDay();
        if ([0, 1].includes(day)) {
          e.preventDefault();
          this.value = '';
          alert('Impossible de réserver les lundi et les dimanche notre salon est fermé!!!');
        }
      });

      //empeche de click sur une date antérieur a celle du jour
      var today = new Date().toISOString().split('T')[0];
    document.getElementById('daySelect').setAttribute('min', today);
</script>

{% endblock %}