{% extends 'base.html.twig' %}
{% block body %}
<div class="validPage">
    <div class="blackfilter"></div>
    <h1 style="  text-align: center;
    color: var(--white-color);
    z-index: 10;
    position: relative;" >Confirmation de rdv</h1>
    {# {{ dump(reservationDetails) }} #}
    {% if reservationDetails %}
        <div class="validResa">
            {# {{dump(reservationDetails.rdv)}} #}
            <p class="texteValidBig">C'est dans la poche {{ reservationDetails.pseudo }} !</p>
            <p class="texteValid" >Nous avons hâte de vous voir le {{ reservationDetails.rdv|date('d/m/Y à H:i') }} pour votre prestation <strong>"{{ reservationDetails.prestation }}"</strong> pour seulement <strong>{{ reservationDetails.prix }}€</strong> !</p>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Pas de données
        </div>
    {% endif %}
</div>
{% endblock %}
