{% extends 'base.html.twig' %}

{% block title %}
	{{produit.nom}}
{% endblock %}

{% block body %}
<div class="banniere">
<img  src="/assets/img/produit.png" alt="banniére">
</div>
	<h1>Detail</h1>
	<div class="produit">
		<p>{{produit.categorie.nom}}</p>
		<img src="assets/img/{{produit.image}}" alt="img produit">
		<p>{{produit}}
			{{produit.prix}}€</p>
			 <td><a href="{{path('app_panier_add', {'id': produit.id})}}">Add</a></td>
		<p>{{produit.description|raw}}</p>
	</div>

{% endblock %}
