{% extends 'base.html.twig' %}

{% block title %}
{{produit.nom}}
{% endblock %}

{% block body %}
<div class="detailProd">
	<div class="produitDetail">
		<h1>{{produit}} </h1>
		<h2>Prix : {{produit.prix}} €</h2>
		<div class="place">
			<div class="left">
				<img src="assets/img/{{produit.image}}" alt="img produit">
			</div>
			<div class="rigth">
				<p>Categorie : {{produit.categorie.nom}}</p>
				<p style="text-decoration:underline">Description{{produit.description|raw}}</p>
				<a class="buttonSmall" href="{{path('app_panier_add', {'id': produit.id})}}">Ajouter au panier</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}