{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
<div class="shop">
<img  src="/assets/img/produits.png" alt="banniére">
<h1>Produits</h1>

<div class="prodAll">
    {% for produit in pagination %}
        <div class="cardProd">
            <a href="{{path('app_detail_produit', {'id': produit.id})}}"><img src="assets/img/{{produit.image}}" alt="img du produit"></a>
            <p>{{produit}} {{produit.prix/100}}€</p>
            <a href="{{path('app_panier_add', {'id': produit.id})}}">Add</a>
        </div>
    {% endfor %}
</div>

    {{ knp_pagination_render(pagination)}}
</div>
{% endblock %}