{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
<h1>Produits</h1>
<div class="produits">
    {% for produit in pagination %}
        <div class="card">
            <a href="{{path('app_detail_produit', {'id': produit.id})}}"><img src="assets/img/{{produit.image}}" alt="img du produit"></a>
            <p>{{produit}} {{produit.prix/100}}€</p>
        </div>
    {% endfor %}
</div>

    {{ knp_pagination_render(pagination)}}
{% endblock %}
