<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
        {# <script src="{{asset('assets/js/script.js') }}"></script> #}
    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}

        {% if app.user %}
            <a href="{{ path('app_logout')}}">Se déconnecter</a>
            <a href="{{ path('app_profil')}}">Mon profil</a>
        {% else %}
            <a href="{{ path('app_login')}}">Se connecter</a>
            <a href="{{ path('app_register')}}">S'enrengistrer</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('admin')}}">Panneau d'administration</a>
        {% endif %}

        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
